<div class="col-md-5">
    <div class="x_panel">
        <div class="x_title">
            <h4>Line1003</h4>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <canvas id="canvasSales" width="500" height="400"></canvas>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/charts/chart.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script> <!-- Add this line -->
    <script src="~/js/dashboard.js"></script>
}